<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
<h1>Spring Boot - Single file upload example - AJAX</h1>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="text" name="extraField"/><br/><br/>
    <input type="file" name="file"/><br/><br/>    
    <input type="submit" value="Submit" id="btnSingleSubmit"/>
</form>

   <div id="result"></div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>