<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
<h1>Spring Boot file upload example</h1>
<div th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>